<p>
  <b>Title:</b>
  <%=h @task.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @task.description %>
</p>

<p>
  <b>Active:</b>
  <%=h @task.active %>
</p>

<p>
  <b>Finished at:</b>
  <%=h @task.finished_at %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>